{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>CarePoint - Prescription</title>
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}" />
  </head>
  <body style="color: black;">
    <div class="main-wrapper">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
			<div class="row" style="font-size:14px;">
				<div class="col-lg-8 offset-lg-2">
					<div class="invoice-content">
						<div class="invoice-item" style="margin-bottom: 30px;">
							<div class="row">
								<div class="col-md-6">
									<div class="invoice-logo">
										<h1 style="color: black; margin-bottom: 20px;">CarePoint</h1>
									</div>
								</div>
								<div class="col-md-6" style="float: right; width: 50%;">
									<p class="invoice-details" style="color: black; line-height: 1.8;">
										<strong>Prescription ID:</strong> {{prescription.prescription_id}} <br>
										<strong>Patient ID:</strong> {{prescription.patient.patient_id}} <br>
										<strong>Date:</strong> {{prescription.create_date}}
									</p>
								</div>
							</div>
						</div>
						
						<div class="invoice-item">
							<div class="row">
								<div class="col-6">
									<div class="invoice-info">
										<strong class="customer-text" style="color: black; margin-bottom: 10px; display: block;">Doctor Information:</strong>
										<p class="invoice-details invoice-details-two" style="color: black; line-height: 1.6;">
											<b>Name: </b>{{prescription.doctor.name}} <br>
											<b>Department: </b>{{prescription.doctor.department_name}}<br>
											<b>Email: </b>{{prescription.doctor.email}} <br>
											<b>Phone Number: </b>{{prescription.doctor.phone_number}}
										</p>
									</div>
								</div>
								<div class="col-6">
									<div class="invoice-info invoice-info2">
										<strong class="customer-text" style="color: black; margin-bottom: 10px; display: block;">Prescription To:</strong>
										<p class="invoice-details" style="color: black; line-height: 1.6;">
											<b>Name: </b>{{prescription.patient.name}}<br>
											<b>Age: </b>{{prescription.patient.age}}<br>
											<b>Blood Group: </b>{{prescription.patient.blood_group}}<br>
											<b>Address: </b>{{prescription.patient.address}}<br>
											<b>Email: </b>{{prescription.patient.email}}<br>
											<b>Phone Number: </b>{{prescription.patient.phone_number}}
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="invoice-item invoice-table-wrap" style="margin-top: 3px;">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<hr>
										<h2 class="text-center" style="color: black; margin-bottom: 4px; text-align: center;"><b>Medicine</b></h2>
										
										<table class="invoice-table table table-bordered" style="text-align:center;border: 1px dashed black">
											<tr style="background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);">
												<th style="color: black;">Medicine Name</th>
												<th style="color: black;">Quantity</th>
												<th style="color: black;">Frequency</th>
												<th style="color: black;">Duration</th>
												<th style="color: black;">Relation with meal</th>
												<th style="color: black;">Instruction</th>
											</tr>
											{% for pm in prescription_medicine %}
											<tr style="vertical-align: center; height: 30px;">
												<th class="text-center" style="color: black;">{{pm.medicine_name}}</th>
												<td class="text-center" style="color: black;">{{pm.quantity}}</td>
												<td class="text-center" style="color: black;">{{pm.frequency}}</td>
												<td class="text-center" style="color: black;">{{pm.duration}}</td>
												<td class="text-center" style="color: black;">{{pm.relation_with_meal}}</td>
												<td class="text-center" style="color: black;">{{pm.instruction}}</td>
											</tr>
											{% endfor %}
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="invoice-item invoice-table-wrap" style="margin-top: 3px;">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h2 class="text-center" style="margin-bottom: 4px; color: black; text-align: center;"><b>Test</b></h2>
										
										<table class="invoice-table table table-bordered" style="text-align: center;border: 1px dashed black">
											<tr style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);">
												<th style="color: black;">Test Name</th>
												<th style="color: black;">Description</th>
											</tr>
											{% for pt in prescription_test %}
											<tr style="vertical-align: center;height: 30px;">		
												<td class="text-center" style="color: black;">{{pt.test_name}}</td>
												<td class="text-center" style="color: black;">{{pt.test_description}}</td>		
											</tr>
											{% endfor %}
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="invoice-item invoice-table-wrap" style="margin-top: 40px;">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="invoice-table table table-bordered">
											<thead>
												<tr>
													<th><h2 class="text-center mb-4" style="color: black; text-align: center; margin-bottom: 4px;"><b>Advice/Recommendation</b></h2></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center" style="color: black;">{{prescription.extra_information}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
        </div>
      </div>
    </div>
  </body>
</html>